### 1. 홍길동 씨의 과목별 점수는 다음과 같다. 홍기동 씨의 평균 점수를 구해보자.

국어 : 80

영어 : 75

수학 : 55

In [21]:
a=80
b=75
c=55
(a+b+c)/3

70.0

### 2. 자연수 13이 홀수인지 짝수인지 판별할 수 있도록 해라

In [2]:
13%2

1

### 3. 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연원일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자
pin = "881120-1068345"

In [3]:
pin = "881120-1068345"
print(pin.split("-"))

['881120', '1068345']

### 4. 주민등록번호 뒷자리의 맨 첫번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [4]:
pin[7]

'1'

### 5. 다음과 같은 문자열 a:b:c:d가 있다.  a#b#c#d로 바꿔서 출력해보자.
a = "a:b:c:d"

In [8]:
a = "a:b:c:d"
a.replace(":","#")

'a#b#c#d'

### 6. [1,3,5,4,2] 리스트를 [5,4,3,2,1]로 만들어 보자.
a = [1,3,5,4,2]

In [7]:
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

### 7. ['Life','is','too','short']리스트를 Life is too short 문자열로 만들어 출력해보자
a = ['Life','is','too','short']

In [15]:
a = ['Life','is','too','short']
' '.join(a)

'Life is too short'

### 8. (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해보자

In [18]:
a = (1,2,3)
b = (4,)      #원소가 하나여도 쉼표를 붙여준다
a+b

(1, 2, 3, 4)

### 10. 딕셔너리 a에서 'B'에 해당하는 값을 추출해 보자.
a= {'A':90, 'B':80, 'C':70}

In [14]:
a= {'A':90, 'B':80, 'C':70}
a["B"]

80

### 11. a 리스트에서 중복 숫자를 제거해보자
a = [1,1,1,2,2,3,3,3,4,4,5]

In [22]:
a = [1,1,1,2,2,3,3,3,4,4,5]
b=set(a)
b

{1, 2, 3, 4, 5}