# 03-1 나만의 데이터만들기
## 시리즈와 데이터프레임 직접 만들기
### 1. 시리즈 만들기

In [1]:
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [2]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

In [3]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

#### 1) 파이썬 사전 객체로 Series 객체 생성

In [4]:
sdata = {'Ohio':3000, 'Texas':7100, 'Oregon':16000, 'Utah': 4000}
s = pd.Series(sdata)

In [5]:
print(s)

Ohio       3000
Texas      7100
Oregon    16000
Utah       4000
dtype: int64

In [6]:
states = ['California','Ohio','Texas','Utah']
s = pd.Series(sdata,index=states)

In [7]:
print(s) # 켈리포니아 데이터를 찾을 수 없어 누락 값이 생김

California       NaN
Ohio          3000.0
Texas         7100.0
Utah          4000.0
dtype: float64

#### 2) Series 객체와 Series index의 name 속성

In [8]:
s.name = "population" #시리즈, 즉 원소들의 이름

In [9]:
s.index.name = "state" #인덱스에 대한 이름을 이걸로 해라.

In [10]:
s

state
California       NaN
Ohio          3000.0
Texas         7100.0
Utah          4000.0
Name: population, dtype: float64

### 3. 데이터프레임 만들기

#### index의 모양이같은 Series 객체를 담고 있는 사전

In [11]:
scientists = pd.DataFrame({ 
    'Name': ['Rosaline Franklin', 'William Gosset'], 
    'Occupation': ['Chemist', 'Statistician'], 
    'Born': ['1920-07-25', '1876-06-13'], 
    'Died': ['1958-04-16', '1937-10-16'], 
    'Age': [37, 61]}) 
scientists

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [12]:
scientists = pd.DataFrame( 
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died']) 
scientists

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

### OrderDict( ) : 딕셔너리 데이터의 순서를 보장해주는 클래스

In [ ]:
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([ 
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']), 
    ('Born', ['1920-07-25', '1876-06-13']), 
    ('Died', ['1958-04-16', '1937-10-16']), 
    ('Age', [37, 61])
])
) 
scientists

### scientists 데이터의 columns과 index이름 지정하기

In [ ]:
pd.DataFrame(scientists,columns=['Name','Age','Occupation','Born','Died'],index=[1,2])

### 중첩 dictionary를 사용해 dataframe 생성

In [ ]:
pop= {'Nevada':{2001:2.4, 2002:2.9},
    'Ohio':{2000:1.5,2001:1.7,2002:3.6}}

In [ ]:
frame = pd.DataFrame(pop)

In [ ]:
frame

In [ ]:
frame.T

# 03-2 시리즈다루기
## 데이터프레임에서 시리즈 선택하기

In [14]:
scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age'])

In [15]:
first_row = scientists.loc['William Gosset'] 
print(type(first_row))

<class 'pandas.core.series.Series'>

In [16]:
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [17]:
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

#### 1) 사전 형식의 표기법으로 접근

In [ ]:
scientists['Occupation']

#### 2) 속성 형식으로 접근

In [ ]:
scientists.Occupation


## index, values 속성과 keys 메서드 사용하기

### 1. index 속성 사용하기

In [18]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

### 2. values 속성 사용하기

In [19]:
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

### 3. keys 메서드 사용하기

In [ ]:
print(first_row.keys())

### 4. index 속성 응용하기

In [ ]:
print(first_row.index[0])

### 5. keys 메서드와 index 속성 응용하기

In [ ]:
print(first_row.keys()[0])


## 시리즈의 mean, min, max, std 메서드 사용하기

In [ ]:
ages = scientists['Age'] 
print(ages)

In [ ]:
print(ages.mean())

In [ ]:
print(ages.min())

In [ ]:
print(ages.max())

In [ ]:
print(ages.std())

# 03-3 시리즈다루기
## 시리즈와 불린 추출 사용하기

In [28]:
scientists = pd.read_csv('scientists.csv')
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [21]:
ages = scientists['Age'] 

print(ages.max())

90

In [22]:
print(ages.mean())

59.125

In [23]:
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [29]:
#조건만 넣었을 경우 어떤지 확인
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [25]:
print(type(ages > ages.mean()))

<class 'pandas.core.series.Series'>

In [26]:
manual_bool_values = [True, True, False, False, True, True, False, True] 
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

In [27]:
0 in ages

True


## 벡터와 스칼라로 브로드캐스팅 수행하기

In [30]:
print(ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [31]:
print(ages * ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [32]:
print(ages + 100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [33]:
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [34]:
print(pd.Series([1, 100]))

0      1
1    100
dtype: int64

In [35]:
print(ages + pd.Series([1, 100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [ ]:
rev_ages = ages.sort_index(ascending=False) 
print(rev_ages)

In [ ]:
print(ages * 2)

In [ ]:
print(ages + rev_ages)

# 데이터프레임 다루기
## 불린 추출과 브로드캐스팅

In [42]:
#과학자의 평균나이보다 나이가 많은 과학자에 해당하는 행 모두 추출
scientists[ages > ages.mean()]

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

print(scientists.loc[[True, True, False, True]])

In [ ]:
print(scientists * 2)

# 03-5 시리즈와 데이터프레임의 데이터 처리하기ㅏ
## 시리즈와 데이터프레임의 데이터 처리하기

In [43]:
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

object
object

In [45]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d') #데이터타입을 날짜로 바꿔서 시간계산할수있게
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [47]:
#죽는 날짜도 뽑아보기
dead_datetime=pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(dead_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [53]:
#달라진 데이터 타입으로 구성된 칼럼을 원래 데이터프레임에 추가하기
scientists['new_born'],scientists['new_dead']=[born_datetime,dead_datetime]

In [54]:
print(scientists.shape)

(8, 7)

In [ ]:
#살아있는 날짜를 계산해서 넣어주기

### 5. 시리즈, 데이터프레임의 데이터 섞기

In [ ]:
print(scientists['Age'])

In [ ]:
import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

### 7. 데이터프레임의 행,열 삭제하기

In [50]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')

In [51]:
scientists_dropped = scientists.drop(['Age'], axis=1)

print(scientists_dropped)

                   Name        Born        Died          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16             Chemist
1        William Gosset  1876-06-13  1937-10-16        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13               Nurse
3           Marie Curie  1867-11-07  1934-07-04             Chemist
4         Rachel Carson  1907-05-27  1964-04-14           Biologist
5             John Snow  1813-03-15  1858-06-16           Physician
6           Alan Turing  1912-06-23  1954-06-07  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23       Mathematician

In [52]:
scientists_dropped = scientists.drop(['Rosaline Franklin'])
scientists_dropped

KeyError: "['Rosaline Franklin'] not found in axis"

In [ ]:
del scientists['Occupation']

In [ ]:
print(scientists)

### 8. 데이터 프레임 열 추가하기

In [ ]:
Occupation = pd.Series(['doctor','singer'],index = [0,1])
scientists['Occupation']=Occupation

In [ ]:
print(scientists)

In [ ]:
#1,2를 값으로 가지는 val column을 넣어보아라

In [ ]:
print(scientists)

# 03-6 데이터 저장하고 불러오기
## 데이터를 피클, CSV, TSV 파일로 저장하고 불러오기

### 1. 피클로 저장하기

In [ ]:
names = scientists['Name']

In [ ]:
names.to_pickle('../output/scientists_names_series.pickle')

In [ ]:
scientists.to_pickle('../output/scientists_df.pickle')

In [ ]:
scientist_names_from_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(scientist_names_from_pickle)

In [ ]:
scientists_from_pickle = pd.read_pickle('../output/scientists_df.pickle')
print(scientists_from_pickle)

### 4. CSV 파일과 TSV 파일로 저장하기

In [ ]:
names.to_csv('../output/scientist_names_series.csv')

In [ ]:
scientists.to_csv('../output/scientists_df.tsv', sep='\t')

In [ ]:
scientists.to_csv('../output/scientists_df_no_index.csv', index=False)

In [ ]:
names_df = names.to_frame()

import xlwt 
names_df.to_excel('../output/scientists_names_series_df.xls')

import openpyxl 
names_df.to_excel('../output/scientists_names_series_df.xlsx')