# 04 NumPy
### 제공 기능

1. ndarray : 빠르고 메모리를 효율적으로 사용, 벡터 산술연산과 세련된 브로드캐스팅 기능 제공하는 다차원 배열
2. 표준 수학 함수 : 반복문 작성 필요없이 전체 데이터 배열에 대해 빠른 연산을 제공
3. 배열 데이터를 디스크에 쓰거나 읽을 수 있는 도구, 메모리에 올려진 파일을 사용하는 도구
4. 선형대수, 난수 발생기, 푸리에 변환 기능
5. C, C++, 포트란으로 쓰여진 코드를 통합하는 도구 : 다른 저수준 언어로 쓰여진 외부 라이브러리에 쉽게 전달 가능

# 04-1 NumPy ndarray: 다차원 배열 객체
ndarray : N차원의 배열 객체, 대규모 데이터 집합을 담을 수 있는 빠르고 유연한 자료 구조. 모든 원소는 같은 자료형이어야 함. 

배열 : 스칼라 원소 간의 연산 문법과 비슷. 전체 데이터 블록에 수학적 연산 수행 가능. 

모든 배열은 각 차원의 크기를 알려주는 shape이라는 튜플과 배열에 저장된 자료형을 알려주는 dtype이라는 객체를 가짐.

In [37]:
I = [[1,0],[0,1]]
C = [[1,2],[3,4]]

In [38]:
I + C  #리스트끼리 더했을때 이렇게 항목만 뒤에 붙는다

[[1, 0], [0, 1], [1, 2], [3, 4]]

In [2]:
#난수 생성 (표준정규분포 데이터)
import numpy as np
data = np.random.randn(2,3)
data

array([[ 0.82320772, -0.21515021,  0.27627049],
       [ 2.3630974 , -0.58060774, -0.30605342]])

In [2]:
data * 10  #넘파이를 사용함으로써 행렬 계산

array([[-19.20110323,  -0.21520931,   2.27648803],
       [ -9.27567635,  -6.84224226, -28.33067682]])

In [3]:
data + data

array([[-3.84022065, -0.04304186,  0.45529761],
       [-1.85513527, -1.36844845, -5.66613536]])

In [4]:
#(차원, 길이)
data.shape

(2, 3)

In [5]:
#자료형
data.dtype

dtype('float64')

### 1. ndarray 생성
#### 1) array 함수를 이용해 변환

In [49]:
I2 = np.array(I)
C2 = np.array(C)

In [50]:
I2

array([[1, 0],
       [0, 1]])

In [51]:
C2

array([[1, 2],
       [3, 4]])

In [42]:
I2 + C2  #행렬 계산 ok

array([[2, 2],
       [3, 5]])

In [3]:
data1 = [6,7.5,8,0,1]
arr1 = np.array(data1)
arr1

array([6. , 7.5, 8. , 0. , 1. ])

In [4]:
data2 = [[1,2,3,4,],[5,6,7,8]]
arr2 = np.array(data2)
arr2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [5]:
arr2.ndim

2

In [6]:
arr2.shape

(2, 4)

In [11]:
#dtype을 지정하지 않으면 적절한 자료형을 추정하여 저장
print(arr1.dtype)
print(arr2.dtype)

float64
int32

#### 2) 새로운 배열 생성

In [7]:
# 0으로 채워진 배열 생성
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [8]:
np.zeros((3,6))

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [9]:
# 1로 채워진 배열 생성
np.ones(5)

array([1., 1., 1., 1., 1.])

In [10]:
np.ones_like(arr2)  #그 데이터의 dtypes와 동일하게 만듦

array([[1, 1, 1, 1],
       [1, 1, 1, 1]])

In [12]:
# 초기화되지 않은 배열 생성
np.empty((2,3,2))

array([[[1.49450615e-311, 2.47032823e-322],
        [0.00000000e+000, 0.00000000e+000],
        [0.00000000e+000, 4.47032019e-038]],

       [[4.97406294e-091, 9.90700548e+164],
        [2.38235491e+179, 1.71597692e+185],
        [3.99910963e+252, 1.46030983e-319]]])

In [22]:
# 일정 범위의 수를 포함하는 배열 생성
np.arange(15)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [16]:
# 시작, 끝 값 지정
np.arange(4,10)

array([4, 5, 6, 7, 8, 9])

In [17]:
# 값의 간격 설정
np.arange(4,10,3)  #4부터 10까지 3칸씩

array([4, 7])

In [25]:
# ndarray와 동일, 입력 데이터가 이미 ndarray일 경우 복사 안됨
np.asarray(arr2)

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [18]:
# 단위행렬 생성
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [19]:
np.identity(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

### 2. ndarray의 자료형
#### 1) 자료형 명시

In [27]:
arr1 = np.array([1,2,3],dtype=np.float64)
arr1.dtype

dtype('float64')

In [25]:
# [0,1,2,3,4,5], int32의 자료형 배열 생성
arr2 = np.array(([0,1,2,3,4,5]),dtype=np.int32)  #np.을 인트 앞에 붙여줘야 함
arr2

array([0, 1, 2, 3, 4, 5])

In [26]:
arr2.dtype

dtype('int32')

#### 2) 자료형 변경

In [27]:
float_arr2 = arr2.astype(np.float64)
float_arr2.dtype

dtype('float64')

In [28]:
arr3 = np.array([3.7,-1.2,-2.6,0.5,12.9,10.1])
arr3

array([ 3.7, -1.2, -2.6,  0.5, 12.9, 10.1])

In [29]:
# int32로 변환
arr3.astype(np.int32)

array([ 3, -1, -2,  0, 12, 10])

In [30]:
numeric_strings = np.array(['1.25','-9.6','42'],dtype=np.string_)
numeric_strings.astype(float) #np.~~ 사용안하고 float 사용해도 추정하여 변환함. 
numeric_strings.dtype

dtype('S4')

In [62]:
# 다른 객체와 동일한 자료형을 사용하고 싶을 때 객체 이름을 이용하여 변환 가능
int_array = np.arange(10)
calibers = np.array([.22,.270,.357,.380,.44,.50],dtype=np.float64)
int_array.astype(calibers.dtype)  #그 객체의 자료형을 굳이 확인하지 않고 그와 동일한 자료형으로

array([0., 1., 2., 3., 4., 5., 6., 7., 8., 9.])

### 3. 배열과 스칼라 간의 연산
* 배열은 for 반복문 사용 없이 데이터 일괄처리 가능 : 벡터화
* 같은 크기의 배열 간 산술연산은 배열의 각 요소 단위로 적용됨.
* 스칼라 값에 대한 산술연산은 각 요소로 전달됨.

In [63]:
arr = np.array([[1.,2.,3.],[4.,5.,6.]])
arr

array([[1., 2., 3.],
       [4., 5., 6.]])

In [25]:
arr*arr  #각 원소마다 곱셈

array([[ 1.,  4.,  9.],
       [16., 25., 36.]])

In [26]:
arr-arr

array([[0., 0., 0.],
       [0., 0., 0.]])

In [27]:
1/arr

array([[1.        , 0.5       , 0.33333333],
       [0.25      , 0.2       , 0.16666667]])

In [28]:
arr**0.5

array([[1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974]])

### 4. 색인과 슬라이싱 기초
#### 1) 1차원 배열은 리스트와 유사하게 동작

In [31]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [32]:
arr[5]

5

In [33]:
arr[5:8]

array([5, 6, 7])

In [35]:
arr[::-1]  #이 문법은 암기

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

#### 2) 브로드캐스팅(전파)  중요함

In [69]:
#배열조각에 스칼라 값을 대입하면 12가 선택 영역 전체에 전파됨. 
#리스트와의 차이점은 배열조각은 원본 배열의 뷰이다. 즉, 데이터는 복사되지 않고 뷰에 대한 변경은 그대로 원본 배열에 반영됨.
arr[5:8]=12  #5~7번째까지 12 대입
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12,  8,  9])

In [38]:
arr_slice = arr[5:8]   #arr[5:8]를 뜻하는 arr_slice 생성
arr_slice[1] =12345    #arr[5:8]의 인덱스 1에 12345 대입
arr

array([    0,     1,     2,     3,     4,     5, 12345,     7,     8,
           9])

In [39]:
arr_slice[:]=64  #arr[5:8] 모두에 64 대입
arr

array([ 0,  1,  2,  3,  4, 64, 64, 64,  8,  9])

* ndarray 슬라이스를 복사하고 싶다면 arr[5:8].copy()를 사용

#### 3) 다차원 배열

In [40]:
# 2차원 배열에서 각 색인에 해당하는 요소는 스칼라 값이 아니라 1차원 배열이 됨. 
arr2d = np.array([[1,2,3],[4,5,6],[7,8,9]])
arr2d[2]

array([7, 8, 9])

In [74]:
arr2d[0][2]  #0행 2열

3

In [75]:
arr2d[0,2]  #0행 2열

3

In [77]:
arr3d = np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [78]:
arr3d[0]

array([[1, 2, 3],
       [4, 5, 6]])

다차원 배열에서 마지막 색인을 생략했을 때 반환되는 객체는 상위차원의 데이터를 포함하는 한 차원 낮은 ndarray

arr3d : 2 * 2 * 3

arr3d[0] : 2 * 3

### 5. 불리언 색인
반드시 색인하려는 축의 길이와 동일해야 함. 숫자 색인과 함께 혼용 가능

In [114]:
names = np.array(['Bob','Joe','Will','Bob','Will','Joe','Joe'])
data = np.random.randn(7,4)
names

array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'], dtype='<U4')

In [115]:
data

array([[ 1.75452621, -0.29780854,  1.6206198 , -0.85069411],
       [ 0.46019484, -0.09096487, -1.12642575,  0.71899791],
       [ 1.97484061, -0.22072629,  0.94064054, -1.42814453],
       [-0.47991404,  0.14516501, -0.14700464,  1.0614893 ],
       [ 0.04205714, -0.33909072,  1.65072322, -0.51367459],
       [ 0.28026523, -0.89581395,  0.89412135, -0.83344957],
       [ 0.17102927, -0.52337677, -0.62938563,  1.26547274]])

In [116]:
names == 'Bob'

array([ True, False, False,  True, False, False, False])

In [117]:
data[names == 'Bob']

array([[ 1.75452621, -0.29780854,  1.6206198 , -0.85069411],
       [-0.47991404,  0.14516501, -0.14700464,  1.0614893 ]])

In [118]:
data[names == 'Bob', 2:]  #뽑은 애들 중에서 2열부터 뽑아라

array([[ 1.6206198 , -0.85069411],
       [-0.14700464,  1.0614893 ]])

In [119]:
data[names == 'Bob', 3]

array([-0.85069411,  1.0614893 ])

In [120]:
names != 'Bob'

array([False,  True,  True, False,  True,  True,  True])

In [123]:
data[(names != 'Bob')]

array([[ 0.46019484, -0.09096487, -1.12642575,  0.71899791],
       [ 1.97484061, -0.22072629,  0.94064054, -1.42814453],
       [ 0.04205714, -0.33909072,  1.65072322, -0.51367459],
       [ 0.28026523, -0.89581395,  0.89412135, -0.83344957],
       [ 0.17102927, -0.52337677, -0.62938563,  1.26547274]])

In [124]:
mask = (names == 'Bob') | (names == 'Will')
mask

array([ True, False,  True,  True,  True, False, False])

In [125]:
data[mask]

array([[ 1.75452621, -0.29780854,  1.6206198 , -0.85069411],
       [ 1.97484061, -0.22072629,  0.94064054, -1.42814453],
       [-0.47991404,  0.14516501, -0.14700464,  1.0614893 ],
       [ 0.04205714, -0.33909072,  1.65072322, -0.51367459]])

In [126]:
data[data<0] = 0

In [127]:
data[names != 'Joe'] =7

In [128]:
data

array([[7.        , 7.        , 7.        , 7.        ],
       [0.46019484, 0.        , 0.        , 0.71899791],
       [7.        , 7.        , 7.        , 7.        ],
       [7.        , 7.        , 7.        , 7.        ],
       [7.        , 7.        , 7.        , 7.        ],
       [0.28026523, 0.        , 0.89412135, 0.        ],
       [0.17102927, 0.        , 0.        , 1.26547274]])

### 6) 팬시 색인

In [41]:
# 정수배열을 사용한 색인을 설명하기 위해 Numpy에서 차용한 단어
arr = np.empty((8,4))
for i in range(8):
    arr[i] = i

In [42]:
arr

array([[0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [2., 2., 2., 2.],
       [3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [43]:
arr[[4,3,0,6]]

array([[4., 4., 4., 4.],
       [3., 3., 3., 3.],
       [0., 0., 0., 0.],
       [6., 6., 6., 6.]])

In [9]:
arr[[-3,-5,-7]]

array([[5., 5., 5., 5.],
       [3., 3., 3., 3.],
       [1., 1., 1., 1.]])

In [12]:
arr = np.arange(32).reshape((8,4))

In [13]:
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31]])

In [14]:
arr[[1,5,7,2],[0,3,1,2]]

array([ 4, 23, 29, 10])

In [19]:
arr[[1,5,7,2]][:,[0,3,1,2]]

array([[ 4,  7,  5,  6],
       [20, 23, 21, 22],
       [28, 31, 29, 30],
       [ 8, 11,  9, 10]])

In [16]:
arr[np.ix_([1,5,7,2],[0,3,1,2])]

array([[ 4,  7,  5,  6],
       [20, 23, 21, 22],
       [28, 31, 29, 30],
       [ 8, 11,  9, 10]])

### 7. 배열 전치와 축 바꾸기

In [44]:
arr = np.arange(15).reshape((3,5))
arr
arr.T  #transpose

array([[ 0,  5, 10],
       [ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14]])

In [45]:
arr = np.random.randn(6,3)

In [22]:
np.dot(arr.T,arr)

array([[ 6.00519495, -1.8689945 ,  1.33421057],
       [-1.8689945 ,  3.65855217, -1.12984809],
       [ 1.33421057, -1.12984809,  1.23815621]])

In [23]:
arr = np.arange(16).reshape((2,2,4))
arr

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]]])

In [24]:
arr.transpose((1,0,2))

array([[[ 0,  1,  2,  3],
        [ 8,  9, 10, 11]],

       [[ 4,  5,  6,  7],
        [12, 13, 14, 15]]])

In [26]:
arr
arr.swapaxes(1,2)

array([[[ 0,  4],
        [ 1,  5],
        [ 2,  6],
        [ 3,  7]],

       [[ 8, 12],
        [ 9, 13],
        [10, 14],
        [11, 15]]])